<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ltie8 ltie9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ltie9" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->


<!--  12:30 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Green Nature</title>

    <%- include('partials/header.ejs') %>
    
</head>

<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
        
        <!-- NAVIGATION STARTS -->

        <%- include('partials/nav')%>

        <!-- NAVIGATION ENDS -->

        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff; ">
                            <div class="greennature-master-slider-item greennature-slider-item greennature-item" style="margin-bottom: 0px;">
                                <!-- MasterSlider -->
                                <div id="P_slider_1" class="master-slider-parent ms-parent-id-1">

                                    <!-- MasterSlider Main -->
                                    <div id="slider_1" class="master-slider ms-skin-default">

                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="upload/slider-1.jpg" />

                                            <a href="/about" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="208" data-origin="ml" data-position="normal">Learn More</a>

                                            <div class="ms-layer  msp-cn-1-3" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="105" data-origin="ml" data-position="normal">
                                                The Earth</div>

                                            <div class="ms-layer  msp-cn-1-2" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="325" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-5" data-origin="ml" data-position="normal">
                                                We can heal</div>

                                            <div class="ms-layer  msp-cn-1-1" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-100" data-origin="ml" data-position="normal">
                                                Together </div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="upload/slider-2.jpg" />

                                            <a href="/about" target="_self" class="ms-layer ms-btn ms-btn-round ms-btn-n msp-preset-btn-159" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="400" data-delay="987" data-ease="easeOutQuint" data-type="button" data-offset-x="1" data-offset-y="227" data-origin="ml" data-position="normal">Learn More</a>

                                            <div class="ms-layer  msp-cn-1-9" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="139" data-origin="ml" data-position="normal">
                                                Save Anim</div>

                                            <div class="ms-layer  msp-cn-1-7" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-delay="625" data-ease="easeOutQuint" data-offset-x="383" data-offset-y="139" data-origin="ml" data-position="normal">
                                                als</div>

                                            <div class="ms-layer  msp-cn-1-5" data-effect="t(true,150,n,n,n,n,n,n,n,n,n,n,n,n,n)" data-duration="350" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="52" data-origin="ml" data-position="normal">
                                                Help Us</div>

                                        </div>
                                        <div class="ms-slide" data-delay="7" data-fill-mode="fill">
                                            <img src="/plugins/masterslider/public/assets/css/blank.gif" alt="" title="" data-src="upload/slider-3.jpg" />

                                            <div class="ms-layer  msp-cn-1-10" data-effect="t(true,n,n,-500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="425" data-delay="425" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="82" data-origin="mc" data-position="normal">
                                                The Better Place</div>

                                            <div class="ms-layer  msp-cn-1-13" data-effect="t(true,n,n,500,n,n,n,n,n,n,n,n,n,n,n)" data-duration="437" data-ease="easeOutQuint" data-offset-x="0" data-offset-y="-15" data-origin="mc" data-position="normal">
                                                Make This World</div>

                                        </div>

                                    </div>
                                    <!-- END MasterSlider Main -->

                                </div>
                                <!-- END MasterSlider -->


                            </div>
                            <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-brown-column-service" style="background-color: #2d2418;  border-top: 5px solid #3f3221; padding-top: 0px; padding-bottom: 0px; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img src="/upload/icon-service-1.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Sustainable Agriculture</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                </div><a class="action-ads-button large greennature-button-alt" href="/about">Learn More</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2-bg" style="margin-bottom: 0px;background-color: #3f3221;">
                                            <div class="column-service-image"><img src="/upload/icon-service-2.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Save The Environment</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero. Nullam quis risus eget urna mollis ornare vel eu leo. Egestas Dolor Risus.</p>
                                                </div><a class="action-ads-button large greennature-button-alt" href="/about">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-2" style="margin-bottom: 0px;">
                                            <div class="column-service-image"><img src="/upload/icon-service-3.png" alt="" width="80" height="80" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Climate Change Advocacy</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                </div><a class="action-ads-button large greennature-button-alt" href="/about">Learn More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-3">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.11" style="background-image: url('upload/donation-bg.jpg'); padding-top: 90px; padding-bottom: 65px; ">
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="background: url('upload/donation-bg-1.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #facc2e;">Make Donation</h3>
                                        <div class="action-ads-caption greennature-skin-info">Your money can cure this earth</div>
                                        <div class="action-ads-divider" style="background: #facc2e;"></div>
                                        <div class="action-ads-content">
                                            <p>We are a larhge froup of people who powered movement fighting for a green and peaceful future for your land, forest, ocenas, foods, climate and pass the green earth to our children. Each one of us can make small changes in our lives, but together we can change the world.</p>
                                            <a class="action-ads-button large greennature-button greennature-lb-payment" href="/donate" style="color: #6d5b1c;background-color: #fec428;">Donate Now</a></div>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-action-ads-item" style="background: url('upload/donation-bg-2.jpg'); ">
                                        <h3 class="action-ads-title" style="color: #5dc269;">Stop Drilling, Need Action!</h3>
                                        <div class="action-ads-caption greennature-skin-info">Your voice does matter</div>
                                        <div class="action-ads-divider" style="background: #5dc269;"></div>
                                        <div class="action-ads-content">
                                            <p>The Obama administration just granted Shell&#8217;s final permit to drill in the Alaskan Arctic this summer despite overwhelming global public opposition and the obvious risks to Arctic communities, wildlife, and our climate. But this isn’t over. The President knows what’s at stake: his climate legacy.</p>
                                            <a class="action-ads-button large greennature-button" style="color: #ffffff;background-color: #5dc269;" href="/act">Act Now!</a></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-4">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-bottom: 25px; ">
                            <div class="container">
                                <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-medium ">
                                    <div class="greennature-item-title-container container">
                                        <div class="greennature-item-title-head">
                                            <h3 class="greennature-item-title greennature-skin-title greennature-skin-border"><img src="/upload/icon-5.png" alt="" width="80" height="80" />Our Recent Projects</h3><a class="greennature-item-title-link" href="#">More Projects</a>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item-wrapper type-classic-portfolio" >
                                    <div class="portfolio-item-holder  greennature-portfolio-column-4">
                                        <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                            <div class="clear"></div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="/upload/shutterstock_161515241-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >Wind Energy</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">Environment</a><span class="sep">,</span> <a href="#" rel="tag">Renewable Energy</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....
                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="/upload/shutterstock_133689230-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="#"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >Elephant Sanctuary</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">African</a><span class="sep">,</span> <a href="#" rel="tag">Animals</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....
                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="/upload/shutterstock_53600221-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="https://vimeo.com/101707505" data-rel="fancybox" data-fancybox-type="iframe"><span class="portfolio-icon" ><i class="fa fa-film" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >Conservation Volunteer</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">Cleaning</a><span class="sep">,</span> <a href="#" rel="tag">Volunteer</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....
                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="three columns">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="/upload/shutterstock_124871620-540x326.jpg" alt="" width="540" height="326" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="#"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >Engery Conservation</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">Animals</a><span class="sep">,</span> <a href="#" rel="tag">Volunteer</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <div class="portfolio-excerpt">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua....
                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-5">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-service-half greennature-half-bg-wrapper" style="background-color: #f5f5f5; padding-bottom: 20px; ">
                            <div class="greennature-half-bg greennature-bg-solid" style="background-image: url(upload/shutterstock_133689230.jpg);"></div>
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-item greennature-content-item"></div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-icon-with-list-item">
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="/upload/icon-1.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Mollis Mattis</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="/upload/icon-2.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Ullamcorper Mattis Etiam</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="list-with-icon-ux greennature-ux">
                                            <div class="list-with-icon greennature-left">
                                                <div class="list-with-icon-image"><img src="/upload/icon-3.png" alt="" width="80" height="80" /></div>
                                                <div class="list-with-icon-content">
                                                    <div class="list-with-icon-title greennature-skin-title">Mattis Etiam Justo</div>
                                                    <div class="list-with-icon-caption">
                                                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-6">
                        <div class="greennature-color-wrapper   " style="background-color: #ffffff; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-small ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Recent News</h3><a class="greennature-item-title-link" href="#">Read All News</a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-item-wrapper">
                                        <div class="blog-item-holder">
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-852" class="post-852 post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row tag-blog tag-life-style">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="/upload/shutterstock_170752253-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">11</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Donec luctus imperdiet</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="/upload/shutterstock_49617541-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">09</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Magna pars studiorum</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="twelve columns">
                                                <div class="greennature-item greennature-blog-widget">
                                                    <div class="greennature-ux greennature-blog-widget-ux">
                                                        <article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-life-stlyle">
                                                            <div class="greennature-standard-style">
                                                                <div class="greennature-blog-thumbnail">
                                                                    <a href="#"> <img src="/upload/shutterstock_70658833-400x400.jpg" alt="" width="400" height="400" /></a>
                                                                </div>

                                                                <div class="greennature-blog-date-wrapper">
                                                                    <div class="greennature-blog-day">04</div>
                                                                    <div class="greennature-blog-month">Dec</div>
                                                                </div>

                                                                <header class="post-header">
                                                                    <h3 class="greennature-blog-title"><a href="#">Sedial eiusmod tempor</a></h3>

                                                                    <div class="greennature-blog-info">
                                                                        <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="##respond">0 <span class="greennature-tail" >Comment</span></a></div>
                                                                        <div class="blog-info blog-author greennature-skin-info"><i class="fa fa-pencil"></i><a href="#" title="Posts by John Maxwell" rel="author">John Maxwell</a></div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </header>
                                                                <!-- entry-header -->
                                                                <div class="clear"></div>
                                                            </div>
                                                        </article>
                                                        <!-- #post -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-title-item" style="margin-bottom: 35px;">
                                        <div class="greennature-item-title-wrapper greennature-item  greennature-left-divider greennature-small ">
                                            <div class="greennature-item-title-container container">
                                                <div class="greennature-item-title-head">
                                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Current Campaign</h3>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="greennature-video-item greennature-item">
                                        <iframe src="http://player.vimeo.com/video/101707505?title=0&amp;byline=0&amp;portrait=0" width="620" height="348"></iframe>
                                    </div>
                                    <div class="greennature-item greennature-content-item">
                                        <p><strong><a style="font-size: 15px;" href="#">Learn more about this campaign</a></strong></p>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-testimonial-item-wrapper">
                                        <div class="greennature-item-title-wrapper greennature-item  greennature-nav-container greennature-left-divider greennature-small ">
                                            <div class="greennature-item-title-container container">
                                                <div class="greennature-item-title-head">
                                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Testimonial</h3><span class="greennature-nav-title"><i class="icon-angle-left greennature-flex-prev"></i><i class="icon-angle-right greennature-flex-next"></i></span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="greennature-item greennature-testimonial-item carousel greennature-left plain-style">
                                            <div class="greennature-ux greennature-testimonial-ux">
                                                <div class="flexslider" data-type="carousel" data-nav-container="greennature-testimonial-item" data-columns="1">
                                                    <ul class="slides">
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="/upload/testimonial-3-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">Sarah Kof<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="/upload/testimonial-1-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">Jane Doe<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                        <li class="testimonial-item">
                                                            <div class="testimonial-content-wrapper">
                                                                <div class="testimonial-content greennature-skin-content">
                                                                    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Maecena.</p>
                                                                </div>
                                                                <div class="testimonial-info">
                                                                    <div class="testimonial-author-image greennature-skin-border"><img src="/upload/testimonial-2-150x150.jpg" alt="" width="150" height="150" /></div><span class="testimonial-author greennature-skin-link-color">John Smith<span>, </span></span><span class="testimonial-position greennature-skin-info">Volunteer</span></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-7">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-newsletter" id="greennature-parallax-wrapper-2" data-bgspeed="0" style="background-image: url('upload/newsletter-bg.jpg'); padding-top: 145px; padding-bottom: 60px; ">
                            <div class="container">
                                <div class="greennature-title-item" style="margin-bottom: 45px;">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-large ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Subscribe To Newsletter</h3>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="greennature-subscribe-item greennature-item">
                                    <div class="greennature-newsletter-subscribe">

                                        <div class="newsletter newsletter-subscription">
                                            <form method="post" action="#" onsubmit="return newsletter_check(this)">
                                                <input class="newsletter-email" type="email" name="ne" size="30" required placeholder="Please fill your email" />
                                                <input class="newsletter-submit greennature-button" type="submit" value="Subscribe!" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <!-- <section id="content-section-8">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-dark-skin" style="background-color: #1d1d1d; padding-bottom: 20px; ">
                            <div class="container">
                                <div class="one-fifth column"></div>
                                <div class="three-fifth columns">
                                    <div class="greennature-twitter-item-wrapper"><i class="fa fa-twitter"></i>
                                        <div class="greennature-item greennature-twitter-item">
                                            <div class="flexslider" data-type="carousel" data-nav-container="greennature-twitter-item">
                                                <ul class="slides">
                                                    <li>
                                                        <div class="greennature-twitter"><span class="greennature-twitter-text"><a href="http://www.twitter.com/zoutula">@zoutula</a> <a href="http://www.twitter.com/ticksyapp">@ticksyapp</a> Try using Incognito or Private mode, it should help ;)</span><a class="greennature-twitter-time" href="#theme/statuses/1100397143569850368" target="_blank"> 20 days ago</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="greennature-twitter"><span class="greennature-twitter-text"><a href="http://www.twitter.com/ticksyapp">@ticksyapp</a> Today got many complaints about error on Ticksy site. When will this be fixed please? <a target="_blank" href="https://t.co/vDWIZ4L5z4">https://t.co/vDWIZ4L5z4</a></span><a class="greennature-twitter-time" href="#theme/statuses/1100227350321483776" target="_blank"> 21 days ago</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="greennature-twitter"><span class="greennature-twitter-text"><a href="http://www.twitter.com/Julianoe_">@Julianoe_</a> Sorry for the issue, after updating, go to admin panel and click save changes once. All will be back :)</span><a class="greennature-twitter-time" href="#theme/statuses/1083252477397393409" target="_blank"> 68 days ago</a></div>
                                                    </li>
                                                    <li>
                                                        <div class="greennature-twitter"><span class="greennature-twitter-text">Our 2nd Framework Themes are now ready for WP5.0 (Flawless Theme until Newsstand Theme. See this list here :â¦ <a target="_blank" href="https://t.co/TGq99d32RQ">https://t.co/TGq99d32RQ</a></span><a class="greennature-twitter-time" href="#theme/statuses/1072053781607534592" target="_blank"> 99 days ago</a></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="greennature-item-title-nav greennature-nav-container  greennature-center greennature-large"><i class="icon-angle-left greennature-flex-prev"></i><i class="icon-angle-right greennature-flex-next"></i></div>
                                    </div>
                                </div>
                                <div class="one-fifth column"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section> -->
                    <!-- <section id="content-section-9">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin" id="greennature-parallax-wrapper-3" data-bgspeed="0.15" style="background-image: url('upload/service-bg-2.jpg'); padding-top: 135px; padding-bottom: 80px; ">
                            <div class="container">
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2" style="margin-bottom: 70px;"><img src="/upload/icon-4.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">1,000,000</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Acres Conserved</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2" style="margin-bottom: 70px;"><img src="/upload/icon-5.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">700</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Scientists</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2" style="margin-bottom: 70px;"><img src="/upload/icon-1.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">99.99%</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Recycling</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2" style="margin-bottom: 70px;"><img src="/upload/icon-2.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">2000MW</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Solar Power</div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <div class="greennature-item greennature-divider-item" style="margin-bottom: 60px;">
                                    <div class="greennature-divider thick"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="greennature-stunning-item-ux greennature-ux">
                                    <div class="greennature-item greennature-stunning-item greennature-stunning-center">
                                        <h2 class="stunning-item-title">The only way to make this happened is to take action!</h2>
                                        <div class="stunning-item-caption greennature-skin-content">
                                            <p>Praesent commodo cursus magna, vel scelerisque nislet.</p>
                                        </div><a class="stunning-item-button greennature-button large greennature-lb-payment" href="#" style="background-color: #ecb338; color: #ffffff;">Donate Now!</a><a class="stunning-item-button greennature-button large" href="#">Act Now!</a></div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section> -->
                </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->

        <!-- FOOTER STARTS -->
        <%- include('partials/footer') %>
        <!-- FOOTER ENDS -->
        
    </div>
    <!-- body-wrapper -->

    <!-- SCRIPTS STARTS -->
    <%- include('partials/scripts') %>
    <!-- SCRIPTS ENDS -->

</body>

<!--  16:08 GMT -->
</html>