<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 ltie8 ltie9" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ltie9" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<!-- service19:47 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />

    <title>Green Nature</title>

    <!-- HEADER STARTS -->

    <%- include('partials/header.ejs') %>

    <!-- HEADER STARTS -->

</head>

<body data-rsssl=1 class="home page-template-default page page-id-5680 _masterslider _msp_version_3.2.7 woocommerce-no-js">
    <div class="body-wrapper  float-menu" data-home="https://demo.goodlayers.com/greennature/">
        
        <!-- NAVIGATION STARTS -->

        <%- include('partials/nav')%>

        <!-- NAVIGATION ENDS -->

        <!-- is search -->




        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <section id="content-section-1">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0" style="background-image: url('upload/about-title-bg.jpg'); padding-top: 260px; padding-bottom: 140px; ">
                            <div class="container">
                                <div class="greennature-title-item">
                                    <div class="greennature-item-title-wrapper greennature-item  greennature-center greennature-extra-large ">
                                        <div class="greennature-item-title-container container">
                                            <div class="greennature-item-title-head">
                                                <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">WHAT WE DO?</h3>
                                                <div class="greennature-item-title-caption greennature-skin-info">Condimentum Ipsum Vestibulum</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-2">
                        <div class="greennature-color-wrapper  gdlr-show-all greennature-skin-light-grey" style="background-color: #f0f0f0; padding-bottom: 15px; ">
                            <div class="container">
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-1.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Save Our Forest</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-2.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Save Our Water</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-3.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Recycling Is A Must</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-4.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Renewable Energy</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-5.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">Clean Power</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="greennature-ux column-service-ux">
                                        <div class="greennature-item greennature-column-service-item greennature-type-1" style="margin-bottom: 45px;">
                                            <div class="column-service-image"><img src="upload/icon-2-6.png" alt="" width="40" height="40" /></div>
                                            <div class="column-service-content-wrapper">
                                                <h3 class="column-service-title">For Good Nature</h3>
                                                <div class="column-service-content greennature-skin-content">
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Porta Aenean Euismod.</p>
                                                </div><a class="column-service-read-more" href="#">Read More</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-3">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; ">
                            <div class="container">
                                <div class="six columns">
                                    <div class="greennature-video-item greennature-item">
                                        <iframe src="http://player.vimeo.com/video/101707505?title=0&amp;byline=0&amp;portrait=0" width="620" height="348"></iframe>
                                    </div>
                                </div>
                                <div class="six columns">
                                    <div class="greennature-item greennature-about-us-item greennature-normal">
                                        <div class="about-us-title-wrapper">
                                            <h3 class="about-us-title">Who Are We Working For?</h3>
                                            <div class="about-us-caption greennature-title-font greennature-skin-info">Amet Dapibus Mollis</div>
                                            <div class="about-us-title-divider"></div>
                                        </div>
                                        <div class="about-us-content-wrapper">
                                            <div class="about-us-content greennature-skin-content">
                                                <p>We are a large group of people who powered movement fighting for a green and peaceful future for your land, forest, oceans, foods, climate and pass the green earth to our children. Each one of us can make small changes in our lives, but together we can change the world. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo.</p>
                                            </div><a class="about-us-read-more greennature-button" href="#">Learn More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-4">
                        <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all greennature-skin-dark-skin" id="greennature-parallax-wrapper-2" data-bgspeed="0.1" style="background-image: url('upload/service-bg-2.jpg'); padding-top: 125px; padding-bottom: 90px; ">
                            <div class="container">
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"><img src="upload/icon-4.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">1,000,000</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Acres Conserved</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"><img src="upload/icon-5.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">700</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Scientists</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"><img src="upload/icon-1.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">99.99%</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Recycling</div>
                                    </div>
                                </div>
                                <div class="three columns">
                                    <div class="greennature-skill-item-wrapper greennature-skin-content greennature-item greennature-style-2"><img src="upload/icon-2.png" alt="" width="80" height="80" />
                                        <div class="greennature-skill-item-title" style="color: #5dc269;">2000MW</div>
                                        <div class="greennature-skill-item-caption" style="color: #ffffff;">Solar Power</div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <section id="content-section-5">
                        <div class="greennature-color-wrapper  gdlr-show-all no-skin" style="background-color: #f3f3f3; padding-top: 85px; padding-bottom: 62px; ">
                            <div class="container">
                                <div class="greennature-stunning-item-ux greennature-ux">
                                    <div class="greennature-item greennature-stunning-item greennature-stunning-center">
                                        <h2 class="stunning-item-title">The only way to make this happened is to take action!</h2>
                                        <div class="stunning-item-caption greennature-skin-content">
                                            <p>Praesent commodo cursus magna, vel scelerisque nislet.</p>
                                        </div><a class="stunning-item-button greennature-button large greennature-lb-payment" href="#" style="background-color: #fec428; color: #ffffff;">Donate Now!</a><a class="stunning-item-button greennature-button large" href="#">Act Now!</a></div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->

        <!-- FOOTER STARTS -->
        <%- include('partials/footer') %>
        <!-- FOOTER ENDS -->
        
    </div>
    <!-- body-wrapper -->

    <!-- SCRIPTS STARTS -->
    <%- include('partials/scripts') %>
    <!-- SCRIPTS ENDS -->

</body>

<!-- service19:50 GMT -->
</html>